/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#head_title {

	text-align: center;
}

.clear { clear: both; }

	div.question_background
	{
	    color: black;
        /*background-color: rgb(0, 40, 136);*/
        background-color: rgb(255, 255, 255);	
	    padding: 0.9em;
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	}


div.question_background > h1,h2,h3,h4,h5,h6,h7
{
	color:black;
}

body 
{
	background-image: url("../img/grid.png");
}