/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#head_title {

	text-align: center;
}

.clear { clear: both; }

	div.question_background
	{
	    color: black;
        /*background-color: rgb(0, 40, 136);*/
        background-color: rgb(255, 255, 255);	
	    padding: 0.9em;
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	}


div.question_background > h1,h2,h3,h4,h5,h6,h7
{
	color:black;
}

body 
{
	padding-top: 60px;
	min-height:none;
	background-image: url("../img/grid.png");
}

html
{
	min-height:none;
}


#back-btn
{
	padding:0 10px;
	min-height:3em;
	float:left;
}

.form-horizontal .control-label 
{
	text-align: left;
}

@media (min-width: 979px){

	.form-horizontal .controls {
		margin-left:60px;
	}
}

	@media (max-width: 979px) {



	      #page-title
	      {
			float:center;
	      }

	      .navbar-fixed-top,
	      .navbar-fixed-bottom 
	      {
	      	position: fixed;
	      }

	      #header-container
	      {
	      	padding: 0 5%;
	      }

	      #back-btn
		{
			padding:0;
			min-height:0;
		}

	    }
{

#brand {
	margin-left:auto; 
	margin-right:auto;
}

}


.navbar-inverse .navbar-inner {
  background-color: #034482;
  background-image: -moz-linear-gradient(top, #04498c, #033c73);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04498c), to(#033c73));
  background-image: -webkit-linear-gradient(top, #04498c, #033c73);
  background-image: -o-linear-gradient(top, #04498c, #033c73);
  background-image: linear-gradient(to bottom, #04498c, #033c73);
  background-repeat: repeat-x;
  border-color: #033464;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04498c', endColorstr='#ff033c73', GradientType=0);
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #ffffff;
}

.navbar-inverse .brand {
  color: #ffffff;
}

.navbar-inverse .navbar-text {
  color: #ffffff;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
  background-color: #022c55;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #022c55;
}

.navbar-inverse .navbar-link {
  color: #ffffff;
}

.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #ffffff;
}

.navbar-inverse .divider-vertical {
  border-right-color: #04498c;
  border-left-color: #033c73;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #022c55;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-search .search-query {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #033c73;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #999999;
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #999999;
}

.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #999999;
}

.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #033769;
  *background-color: #022f5a;
  background-image: -moz-linear-gradient(top, #033c73, #022f5a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#033c73), to(#022f5a));
  background-image: -webkit-linear-gradient(top, #033c73, #022f5a);
  background-image: -o-linear-gradient(top, #033c73, #022f5a);
  background-image: linear-gradient(to bottom, #033c73, #022f5a);
  background-repeat: repeat-x;
  border-color: #022f5a #022f5a #000810;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff033c73', endColorstr='#ff022f5a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #022f5a;
  *background-color: #022241;
}

.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background-color: #011528 \9;
}

.navbar-inverse .navbar-search .search-query {
  color: #555555;
}

.navbar-inverse .nav-collapse .nav li > a {
    color: #ffffff;
  }
  .navbar-inverse .nav-collapse .nav li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-inverse .nav-collapse .nav .active > a,
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"]{
  background-image: url("../img/glyphicons-halflings-white.png");
}
