<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.camera.pgbtest" version="1.0.0">
    <name>
        Geo Test
    </name>
        <description>
        An example of Phonegap Geolocation. 
    </description>

    <author href="https://sub.example.com" email="someone@email.com">
        Me
    </author>
    
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
 
</widget>